.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
*.iml
*.g.dart
.dart_tool/
.vscode

.project
.settings/
.classpath

ios/Podfile
flutter_export_environment.sh
.flutter-plugins-dependencies
